@{
    ViewData["Title"] = "Информация";
}
<h2>@ViewData["Title"]</h2>

@section menu{
<ul class="list-inline">
    <li>О проекте </li>
    <li>О программе</li>
    <li>Общая информация</li>
</ul>
}

@section footer{
    <p>&copy; Kropotova Alena</p>
}
