@{
    ViewData["Title"] = "Контакты";
    ViewData["Message"] = "Адрес";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
     ЮУрГу<br />
     Челябинск,Ленина 76<br />
</address>

@section footer{
    <p>&copy; Kropotova Alena</p>
}
